<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>UrlSanitizer\UrlSanitizer</fullnamespace>
    <descriptive locale="en_US">
        <title>Sanitize URLs</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Nettoie les URLs</title>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>1.0.1</version>
    <type>classic</type>
    <thelia>2.4.0</thelia>
    <stability>other</stability>
    <mandatory>0</mandatory>
    <hidden>0</hidden>
</module>
